@import url(https://fonts.googleapis.com/css?family=Poppins:regular);
.weather-block {
	width: 760px;
	min-height: 360px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 55px;
	margin: 20px 15px;
	@media(max-width : 1024px){
		width: 550px;
	}
	@media(max-width : 600px){
		width: 400px;
	}
	@media(max-width : 430px){
		width: 300px;
	}
}